{
  "semi": true,
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "quoteProps": "preserve",
  "overrides": [
    {
      "files": ["*.md"],
      "options": {
        "proseWrap": "preserve"
      }
    },
    {
      "files": ["*.json"],
      "options": {
        "printWidth": 200
      }
    }
  ]
}
